<div id="<%= dom_id student %>">
  <p>
    <strong>Last name:</strong>
    <%= student.last_name %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= student.first_name %>
  </p>

  <p>
    <strong>Patronymic:</strong>
    <%= student.patronymic %>
  </p>

  <p>
    <strong>Group number:</strong>
    <%= student.group_number %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= student.status %>
  </p>

  <p>
    <strong>Account:</strong>
    <%= student.account_id %>
  </p>

  <p>
    <strong>Practice:</strong>
    <%= student.practice_id %>
  </p>

  <p>
    <strong>Teacher:</strong>
    <%= student.teacher_id %>
  </p>

  <p>
    <strong>Organization:</strong>
    <%= student.organization_id %>
  </p>

</div>
