<%= form_with(model: practice) do |form| %>
  <% if practice.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(practice.errors.count, "error") %> prohibited this practice from being saved:</h2>

      <ul>
        <% practice.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :kind, style: "display: block" %>
    <%= form.text_field :kind %>
  </div>

  <div>
    <%= form.label :duration, style: "display: block" %>
    <%= form.number_field :duration %>
  </div>

  <div>
    <%= form.label :hours_per_student, style: "display: block" %>
    <%= form.text_field :hours_per_student %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
