<div id="<%= dom_id teacher %>">
  <p>
    <strong>Last name:</strong>
    <%= teacher.last_name %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= teacher.first_name %>
  </p>

  <p>
    <strong>Patronymic:</strong>
    <%= teacher.patronymic %>
  </p>

  <p>
    <strong>Quantity of hours:</strong>
    <%= teacher.quantity_of_hours %>
  </p>

  <p>
    <strong>Account:</strong>
    <%= teacher.account_id %>
  </p>

</div>
